.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #001529; /* Warna background sesuai dengan tema antd */
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    margin: auto 0;
  }
    
  .title {
    color: #fff;
    font-size: 20px;
  }
  
  .menu-button {
    color: #fff;
    background: none;
    border: none;
    font-size: 20px;
  }
  