.full-screen-layout {
  height: 100vh;
}

.card-animation-enter {
  opacity: 0;
  transform: scale(0.9);
}

.card-animation-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.card-animation-exit {
  opacity: 1;
}

.card-animation-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.card-animation-appear,
.card-animation-enter {
  opacity: 0;
  transform: translateX(-50px); /* Memulai dari kiri */
}
.card-animation-appear-active,
.card-animation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

/* .ant-layout-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(to right, green, yellow, orange);
} */